doctype html
html
  head    
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")        
    link(rel='stylesheet' href='/stylesheets/normalize.css')
    link(rel='stylesheet' href='/stylesheets/preloader.css')
    link(rel='stylesheet' href='/stylesheets/swiper-bundle.min.css')
    link(rel='stylesheet' href='/fonts/stylesheet.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/media-1024.css')
    link(rel='stylesheet' href='/stylesheets/media-768.css')
    link(rel='stylesheet' href='/stylesheets/media-320.css')
    title Одежда для высоких девушек
  body
    block header
    block main
    block footer
