extends components/layout.pug
block header 
  include components/header.pug
block main 
  main
    section.hero
      h1.visually-hidden Безупречные брюки на ваш рост 
      .container.hero__container
        .hero-content
        .swiper-container
          .swiper-wrapper
            each item in slide 
              if item['IsVideo']
                .swiper-slide
                  video#video.video(preload='metadata' loop muted autoplay playsinline)                              
                    source(src = item['img_path'] type="video/mp4")                           
              else 
                .swiper-slide(style='background-image: url(' + item['img_path'] + ');')
                  button.hero-content__btn.site-btn(onclick='window.location.href="#"') MUST HAVE
          .swiper-pagination
    section.featured.container
      h2.featured__heading Безупречные брюки на ваш рост      
      ul.featured__list
        each item in product 
          li.featured__item
            .featured__item_imgwrapper
              a(href='/products/'+item['slug']+'?color='+item['product_color'])
                img.featured__item_img(src=item['path'])
            h3.featured__item_heading #{item['name']}
            p.featured__item_text #{item['product_color']}
            p.featured__item_price #{item['price']}
block footer 
  include components/footer.pug
  script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
  script(src='/javascripts/script.js')