@media (max-width: 590px) {
    
    .catalog__heading {
        align-self: flex-start;
        margin-top: 90px;
        font-size: 25px;
        line-height: 36px;
        font-weight: 400;
        font-style: normal;
        color: var(--dark-black-color);
        margin-bottom: 10px;
        padding-left: 9px;
      
      }
      
      .catalog__text {
        align-self: flex-start;
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        font-style: normal;
        color: #9F9F9F;
        padding-left: 9px;
        margin-top: 0;
        margin-bottom: 6px;
      
      }
      
      .catalog__heading.shirt{
        margin-top: 10px;
      }
      
      .container
      {
        padding: 0 15px;
      }
    
    
    .header__container{
        z-index: 999;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 49px;
        padding-top: 5px;
        background-color: rgba(0,0,0, 0); 
    }
    .header__container-opacity{
        z-index: 50;
        position: absolute;
        top: -49px;
        left: 0;
        width: 100%;
        height: 49px;
        background-color: rgba(1,1,1, 0.5);        
        /* background-color: rgba(0,0,0, 0); */
    }


    .app__logo{
        padding-bottom: 30px;
        padding-left: 0.5em;
        letter-spacing: 0.5em;
        font-size: 30px;
    }
    
    .app__sub {
        padding-left: 0.5em;
        letter-spacing: 0.5em;
        font-size: 20px;
    }

    .app__glitch {
        font-size: 35px;
        letter-spacing: 0.3em;
    }
    
    .container {
        padding: 5px 15px 0px 15px;
    }

    .swiper-slide {
        /* padding-top: 100px; */
        position: relative;
        padding-top: 0px;
        text-align: center;
    }

    /* .footer-right {
        width: 100%;
    } */
    .hero-content__btn {
        font-size: 15px;
        padding: 8px 30px 6px 30px;
        text-align: center;
        margin-top: 50%;
        z-index: 100;
        font-size: 14px;             
    }

    .header__logo_text{
        font-size: 20px;
    }

    .modal__btn {        
        padding: 12px 33px 10px 33px;
        text-align: center;
        /* margin-top: 40%; */
        z-index: 100;
        font-size: 12px;             
    }
    .footer__icon:not(:last-child) {
        margin-right: 15px;
    }
    .footer-left {
        width: 80%;
    }
    .footer__list {
        margin-bottom: 40px;
    }

    .featured__item {
        max-width: 300px;
        width: 47%;
    }
    .featured__item_img {      
    /* width: 190px; */
    max-width: 300px;
    width: 100%;
    }

    .featured__item_imgwrapper {
    /* position: relative; */
    height: 280px;    
    }
    .header__button{
        margin-right: 0;
    }

    .footer__icon-svg{
        width: 32px;
        height: 32px;
    }

    .footer__link{
        font-size: 12px;
    }

    .footer__item:not(:last-child) {
        margin-bottom: 16px;
    }

    .catalog__item {
        /* max-width: 360px; */
        width: 47%;
    }
    
    .catalog__item:first-of-type {
        width: 100%;  
        /* max-width: 360px;   */
        height: 100%;
    }

    .catalog__item_img {      
        /* width: 190px; */
        /* max-width: 360px; */
        width: 100%;
        height: 100%;
    }

    .catalog__item_imgwrapper { 
        height: 100%;    
    }
    .catalog.container
    {
        padding-bottom: 40px;
        position: relative;
        top: 0px;
        padding-bottom: 80px;
        /* margin-bottom: 100px; */
    }
    .header__logo_text_cat.black{
        color: var(--dark-black-color);
    }
    
    .catalog__heading {
        align-self: flex-start;
        margin-top: 60px;
        font-size: 25px;
        line-height: 36px;
        font-weight: 400;
        font-style: normal;
        color: var(--dark-black-color);
        margin-bottom: 10px;
        padding-left: 9px;
      
      }
      
      .catalog__text {
        align-self: flex-start;
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        font-style: normal;
        color: #9F9F9F;
        padding-left: 9px;
        margin-top: 0;
        margin-bottom: 6px;
      
      }
      
      .catalog__heading.shirt{
        margin-top: 10px;
      }
      .cart {        
        position: relative;
        top: 0px;
      }
      .cart__text-whatsapp{
        font-size: 12px;
        line-height: 16px;
      }
      .about {
        position: relative;
        top: 0px;
      }
      .about__heading {
        font-size: 14px;
      }
      
      .about__text {
        font-size: 12px;
      }
      .delivery__header {
        font-size:18px;
      }
      
      .delivery__text {        
        font-size:14px;        
      }
      .delivery__li-text{
        font-size: 12px;
      }
      
}

@media (max-width: 475px) {

    .catalog__heading {
        align-self: flex-start;
        margin-top: 60px;
        font-size: 25px;
        line-height: 36px;
        font-weight: 400;
        font-style: normal;
        color: var(--dark-black-color);
        margin-bottom: 10px;
        padding-left: 9px;
      
      }
      
      .catalog__text {
        align-self: flex-start;
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        font-style: normal;
        color: #9F9F9F;
        padding-left: 9px;
        margin-top: 0;
        margin-bottom: 6px;
      
      }
      
      .catalog__heading.shirt{
        margin-top: 10px;
      }
      
      .catalog.container
      {
        padding-bottom: 40px;
      }
    
    .header__container{
        z-index: 999;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 49px;
        padding-top: 5px;
        background-color: rgba(0,0,0, 0); 
    }
    .header__container-opacity{
        z-index: 50;
        position: absolute;
        top: -49px;
        left: 0;
        width: 100%;
        height: 49px;
        background-color: rgba(1,1,1, 0.5);         
    }

    .hero {
        height: 520px;
        position: relative;
        display: flex;
        top: 0;
        width: 100%;

    }

    .hero__container{
        position: absolute;
        top: 0;
        left: 0;
        max-width: 475px;
        width: 100%;
        height: 520px;
    }

    .app__logo{
        padding-bottom: 18px;
        padding-left: 0.5em;
        letter-spacing: 0.15em;
        font-size: 25px;
    }
    
    .app__sub {
        font-weight: 100;
        padding-left: 0.4em;
        letter-spacing: 0.1em;
        font-size: 15px;
        padding-bottom: 5px;
    }

    .app__glitch {
        font-size: 20px;
        letter-spacing: 0.2em;
    }
    
    
    .site-heading {
        font-size: 24px;
    }
    .logo__img {
        /* flex: 0 0 auto;
        align-items: center; */
        width: 116px;
        height: auto;
    }

    .nav {
        left: -160vw;
        height: 100vh;
        width: 70%;
        padding-top: 23px;
        padding-left: 15px;
    }

    .menu-close {
        margin-bottom: 32px;
        width: 30px;
    }

    .menu-close::before,
    .menu-close::after {
        left: 0;
    }

    .nav__item:not(:last-child) {
        margin-bottom: 20px;
        margin-right: 20px;
    }


    .work__item:not(:last-child) {
        margin-right: 0;
    }



    
    .container.hero__container
    {
        padding: 0px;
    }

    .hero__container {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content:left;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        /* position: absolute; */
        z-index: 100;
        /* padding: 0px 20px; */
        text-align: center;
    }

    .hero-content__heading {
        font-size: 25px;
        line-height: 24px;
        margin-bottom: 9px;
    }

    .swiper__text{
        width: 100%;
        font-weight: 800;
        font-size: 25px;
        margin: 0;
        margin-bottom: 18px;
        line-height: 86px;
        color: var(--white-color);
        position: absolute;
        top: 150px;
        left: 0;
    }

    .hero-content__text {
        /* padding-top: 10px; */
        font-size: 12px;
        line-height: 14px;
        font-weight: 200;
        margin-top: 15px; 
    }

    .hero-content__btn {
        font-size: 13px;
        width: 175px;
        padding: 10px 27px 8px 27px;
        text-align: center;
        margin-top: 50%;
        z-index: 100;
        /* font-size: 25px;       */
    }

    .header__button{
        margin-right: 0;
    }

    .swiper-slide {
        text-align: center;
        /* padding: 60px 22px 0; */
        padding: 0px 0px 0;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 10px;
    }

    .swiper-pagination-bullet {
        height: 10px;
        width: 10px;
    }


    .work {
        padding-top: 42px;
    }

    .work__heading {
        margin-bottom: 20px;
        font-size: 24px;
    }

    .work__btn {
        font-size: 14px;
    }

    .work__list {
        margin-bottom: 9px;
    }

    .work-right__img {
        height: 160px;
    }

    .work-right {
        margin-bottom: 18px;
    }

    .work__inner {
        margin-bottom: 18px;
    }

    .work-left__title {
        font-size: 21px;
        font-weight: 500;
        margin-bottom: 12px;
    }

    .work-left__text {
        font-size: 15px;
        line-height: 32px;
        margin-bottom: 23px;
    }

    .work-left__btn {
        font-size: 12px;
        padding: 13px 35px;
    }
    
    .work-left__btn:first-child {
        margin-right: 10px;
        padding: 14px 48px;
    }

    .questions {
        padding-top: 64px;
        padding-bottom: 59px;
    }

    .questions__heading {
        margin: 0;
        margin-bottom: 17px;
    }

    .questions__title {
        font-size: 15px;
        line-height: 24px;
        font-weight: 500;
        margin-right: 56px;
    }

    .questions__wrapper {
        padding: 30px 0;
    }

    .accordion-icon {
        width: 30px;
        height: 30px;
        background-size: 18px;
        top: 40px;
    }

    .questions__descr {
        font-style: 14px;
    }

     .footer {
        padding-top: 20px;
    }

    .footer-right {
        margin-bottom: 22px;
    }

    .form__label {
        padding-left: 5px;
    }

    .footer-left {
        padding-top: 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* border-top: 1px solid #595959; */
    }
    .footer__list{
        margin-bottom: 30px;
    }

    .footer__logo {
        text-align: center;
        margin-bottom: 13px;
    }

    .footer__logo img {
        width: 100px;
    } 

    .footer__social {
        align-self: left;
        /* margin-bottom: 10px; */
    }

    .footer__icon {
        width: 32px;
        height: 32px;
        /* background-size: 40px; */
    }

    .footer__icon:not(:last-child) {
        margin-right: 10px;
    } 
    .catalog.container {
        padding-bottom: 40px;
    }

    .product__container {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 475px;
        width: 100%;
        height: 680px;
         
    }

    .product__info{
        width: 100%;
    }

    .footer__icon-svg{
        width: 32px;
        height: 32px;
    }

    .footer__link{
        font-size: 12px;
    }

    .footer__item:not(:last-child) {
        margin-bottom: 16px;
    }

    .catalog__item {
        /* max-width: 360px; */
        width: 47%;
    }
    
    .catalog__item:first-of-type {
        width: 100%;  
        /* max-width: 360px;   */
        height: 100%;
    }

    .catalog__item_img {      
        /* width: 190px; */
        /* max-width: 360px; */
        width: 100%;
        height: 100%;
    }

    .catalog__item_imgwrapper { 

        height: 100%;    
    }

    .container
    {
        padding: 0 15px;
    }

    .header__logo_text_cat.black{
        color: var(--dark-black-color);
    }
    .catalog__heading {
        align-self: flex-start;
        margin-top: 60px;
        font-size: 25px;
        line-height: 36px;
        font-weight: 400;
        font-style: normal;
        color: var(--dark-black-color);
        margin-bottom: 10px;
        padding-left: 9px;
      
      }
      
      .catalog__text {
        align-self: flex-start;
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        font-style: normal;
        color: #9F9F9F;
        padding-left: 9px;
        margin-top: 0;
        margin-bottom: 6px;
      
      }
      
      .catalog__heading.shirt{
        margin-top: 10px;
      }

      .cart {        
        position: relative;
        top: 0px;
      }
      .cart__text-whatsapp{
        font-size: 12px;
        line-height: 16px;
      }
      .about {
        position: relative;
        top: 0px;
      }
      .about__heading {
        font-size: 14px;
      }
      
      .about__text {
        font-size: 12px;
      }

      .delivery__header {
        font-size:18px;
      }
      
      .delivery__text {        
        font-size:14px;        
      }
      .delivery__li-text{
        font-size: 12px;
      }
}