@media (max-width: 1470px) {
   
    .app__logo{
        padding-bottom: 30px;
        padding-left: 0.5em;
        letter-spacing: 0.5em;
        font-size: 70px;
    }
    
    .app__sub {
        padding-left: 0.5em;
        letter-spacing: 0.5em;
        font-size: 50px;
    }

    .app__glitch {
        font-size: 35px;
        letter-spacing: 0.3em;
    }

    
    .footer__text {
        display: none;
    }

    .header__container{
        z-index: 999;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        padding-top: 5px;
        background: rgba(0, 0, 0, 0.5);      
    }
    .header__container-opacity{
        display: none;          
    }  

    .nav__item:not(:last-child) {
        margin-right: 30px;
    }

    .swiper-container{
        max-width: 600px;
    }


    .footer__container{
        padding: 0 50px;
    }

    .footer__link{
        font-size: 18px;
    }

    .footer__icon{
        width: 48px;
        height: 48px;
        margin-right: 25px;
    }

    .footer__icon-svg{
        width: 48px;
        height: 48px;
    }

    .footer__list {
        margin-bottom: 60px;
    }

    .footer__item:not(:last-child) {
        margin-bottom: 25px;
    }

    .header__logo_text.black{
        color: white;  

    }
    .catalog__heading {
        align-self: flex-start;
        margin-top: 90px;
        font-size: 25px;
        line-height: 36px;
        font-weight: 400;
        font-style: normal;
        color: var(--dark-black-color);
        margin-bottom: 10px;
        padding-left: 9px;
      
      }
      
      .catalog__text {
        align-self: flex-start;
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        font-style: normal;
        color: #9F9F9F;
        padding-left: 9px;
        margin-top: 0;
        margin-bottom: 6px;
      
      }
      
      .catalog__heading.shirt{
        margin-top: 10px;
      }
      .about__heading {
        font-size: 18px;
      }
      
      .about__text {
        font-size: 16px;
      }
      .delivery__header {
        font-size:18px;
      }
      
      .delivery__text {        
        font-size:14px;        
      }
      .delivery__li-text{
        font-size: 12px;
      }
}

@media (max-width: 1120px) {
    .app__logo{
        padding-bottom: 30px;
        padding-left: 0.5em;
        letter-spacing: 0.5em;
        font-size: 50px;
    }
    
    .app__sub {
        padding-left: 0.5em;
        letter-spacing: 0.5em;
        font-size: 30px;
    }

    .app__glitch {
        font-size: 35px;
        letter-spacing: 0.3em;
    }
    
    .container {
        padding: 0 50px;
    }
    

    .header__container{
        z-index: 999;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        padding-top: 5px;
    }
    .header__container-opacity{
        display: none;         
    }

    .burger {
        display: block;
        width: 30px;
        position: relative;
        height: 23px;
        color: #ffffff;
    }
    
    .burger__line {
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 3px;
        background-color: #ffffff;
        color: #ffffff;
    }
    
    .burger__line:first-child {
        top: 0;
        left: 0;
    }
    
    .burger__line:nth-child(2) {
        top: 45%;
        left: 0;
    }
    
    .burger__line:last-child {
        bottom: 0;
        left: 0;
    }
    
    .logo__img {
        width: 150px;
    }

    .search {
        margin-right: 0;
    }

    .nav {
        width: 420px;
        height: 769px;
        position: absolute;
        left: -100vw;
        padding: 50px;
        top: 0;
        z-index: 101;
        /* background-color: var(--white-color); */
        background-color: black;
        box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
        transition: left .3s ease-in-out;
    }

    .nav__list {
        flex-direction: column;
        align-items: flex-start;
    }


    .nav__item:not(:last-child) {
        margin-bottom: 60px;
    }
    .nav__item.cart_item{
        display:block;
    }

    .menu-close {
        position: relative;
        display: block;
        width: 23px;
        height: 23px;
        margin-bottom: 100px;
    }

    .menu-close::before,
    .menu-close::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: var(--black-color);
    }

    .menu-close::before {
        transform: rotate(45deg);
    }

    .menu-close::after {
        transform: rotate(-45deg);
    }

    .nav.burger-active {
        left: 0;
        transition: left .3s ease-in-out;
    }

    .hero {
        height: 900px;
        position: relative;
        display: flex;
        top: 0;
        width: 100%;
        background-color: white;
    }

    .hero-content__btn {
        margin-top: 40%;
        font-size: 25px;
        width: 250px;
        padding: 15px 22px 14px 32px;
        text-align: center;
        z-index: 100;
    }

    .swiper-slide {
        padding-top: 164px;
        text-align: center;
    }
    .swiper-container{        
        display: block;
    }
    .hero-big-image {
        display: none;
    }

    .hero-content__heading {
        font-size: 60px;
        line-height: 73px;
        margin-bottom: 13px;
    }

    .hero-content__text {
        font-size: 20px;
        max-width: 660px;
        margin-bottom: 60px;
    }

    .about {
        position: relative;
        top: 80px;
    }

    .about__heading {
        margin-bottom: 9px;
    }

    /* .about__text {
        margin-bottom: 60px;
    } */

    

    .work {
        padding-top: 66px;
    }
    
    .work__list {
        margin-bottom: 56px;
    }

    .work-left__title {
        margin-bottom: 8px;
    }

    .work-left__text {
        max-width: 392px;
        margin-bottom: 24px;
    }

    .work-left__btn {
        padding: 20px 44px;
    }

    .work-right {
        width: 47.3%;
    }

    .questions {
        padding-top: 43px;
        padding-bottom: 77px;
    }

    .questions__heading {
        margin-bottom: 30px;
    }

    .questions__title {
        font-size: 20px;
        max-width: 717px;
    }

    .questions__wrapper {
        padding: 42px 0;
    }

    .footer__form {
        max-width: 541px;
    }

    .footer-wrapper {
        min-width: 100%;
    }

    .footer-right {
        display: block;
        width: 59%;
    }

    .footer__container {
        justify-content: space-between;
    }

    .form__btn {
        margin-right: 20px;
        padding: 19px 44px;
        margin-bottom: 10px;
    }

    .footer__logo {
        margin-bottom: 26px;
    }

    .footer__list {
        margin-bottom: 60px;
    }
    .footer__icon{
        width: 48px;
        height: 48px;
        margin-right: 25px;
    }

    .footer__icon-svg{
        width: 48px;
        height: 48px;
    }
    .container
    {
        padding: 0 40px;
    }

    .header__logo_text_cat.black{
        color: white;
    }
    .catalog__heading {
        align-self: flex-start;
        margin-top: 90px;
        font-size: 25px;
        line-height: 36px;
        font-weight: 400;
        font-style: normal;
        color: var(--dark-black-color);
        margin-bottom: 10px;
        padding-left: 9px;
      
      }
      
      .catalog__text {
        align-self: flex-start;
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        font-style: normal;
        color: #9F9F9F;
        padding-left: 9px;
        margin-top: 0;
        margin-bottom: 6px;
      
      }
      
      .catalog__heading.shirt{
        margin-top: 10px;
      }
      .cart {        
        position: relative;
        top: 0px;
      }

      .cart__text-whatsapp{
        font-size: 16px;
        line-height: 18px;
      }
      .about__heading {
        font-size: 16px;
      }
      
      .about__text {
        font-size: 14px;
      }
      .delivery__header {
        font-size:18px;
      }
      
      .delivery__text {        
        font-size:14px;        
      }
      .delivery__li-text{
        font-size: 12px;
      }
    
}