@media (max-width: 900px) {
    
    .container {
        padding: 0 25px;
    }

    .header__container{
        z-index: 999;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 49px;
        padding-top: 5px;
        background-color: rgba(1,1,1, 0.5);
    }
    .header__container-opacity{
        display: none;          
    }

    .header__logo_text{
        font-size: 25px;
    }

    .video{
        width: 100%;
        max-width: 900px;
    }

    .hero-content__btn {
        margin-top: 40%;
        font-size: 13px;
        width: 175px;
        padding: 10px 27px 8px 27px;
        text-align: center;
        z-index: 100;
    }

    .header__button{
        margin-right: 0;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 10px;
    }

    .swiper-pagination-bullet {
        height: 12px;
        width: 12px;
    }

     
    .app__logo{
        padding-bottom: 30px;
        padding-left: 0.5em;
        letter-spacing: 0.5em;
        font-size: 40px;
    }
    
    .app__sub {
        padding-left: 0.5em;
        letter-spacing: 0.5em;
        font-size: 30px;
    }

    .app__glitch {
        font-size: 35px;
        letter-spacing: 0.3em;
    }
    
    


    .hero {
        height: 720px;
        position: relative;
        display: flex;
        top: 0;
        width: 100%;
    }

    .swiper-slide {
        position: relative;
        padding-top: 0px;
        text-align: center;
    }


    .hero-content__heading {
        font-size: 50px;
        line-height: 60px;
    }
    
    .hero-content__text {
        font-size: 18px;
        max-width: 540px;
        margin-bottom: 0px;
    }

    .nav {
        height: 731px;
    }

    
    .work__list {
        margin-bottom: 42px;
        justify-content: space-between;
    }

    .work__content {
       flex-direction: column-reverse;
    }

    .work-right,
    .work-left {
        width: 100%;
    }

    .work-left__text {
        max-width: 100%;
    }

    .work-right {
        margin-bottom: 40px;
    }

    .questions {
        padding-top: 42px;
        padding-bottom: 79px;
    }

    .questions__wrapper {
        padding: 45px 0 35px;
    }

    .questions__title {
        max-width: 520px;
        margin-right: 100px;
    }

    .questions__heading {
        margin-bottom: 28px;
        font-size: 52px;
    }
    .footer__list {
        margin-bottom: 50px;
    }

    /* .footer {
        padding-top: 45px;
    }

    .footer__container {
        flex-direction: column-reverse;
    }

    .footer-right {
        width: 81%;
        margin-bottom: 42px;
    }

    .footer__list {
        display: none;
    }
    
    .footer__logo {
        margin-bottom: 12px;
    }

    .footer__icon {
        
    } */

    .footer__icon {
        width: 48px;
        height: 48px;
        flex-shrink: 0;
    }

    .featured__item {
        max-width: 450px;
        width: 47%;
    }
    .featured__item_img {          
        max-width: 450px;
        width: 100%;
    }

    .featured__item_imgwrapper {
        height: 440px;    
    }

    .footer__icon-svg{
        width: 48px;
        height: 48px;
    }

    .footer__link{
        font-size: 15px;
    }

    .catalog__item {
        max-width: 360px;
        width: 47%;
    }
    
    .catalog__item:first-of-type {
        width: 100%;  
        max-width: 360px;  
        height: 100%;
    }

    .catalog__item_img {      
        /* width: 190px; */
        max-width: 360px;
        width: 100%;
        height: 100%;
    }

    .catalog__item_imgwrapper { 
        height: 100%;    
    }
    .container
    {
        padding: 0 30px;
    }

    .header__logo_text_cat.black{
        color: white;
    }
    .catalog__heading {
        align-self: flex-start;
        margin-top: 90px;
        font-size: 25px;
        line-height: 36px;
        font-weight: 400;
        font-style: normal;
        color: var(--dark-black-color);
        margin-bottom: 10px;
        padding-left: 9px;
      
    }
      
    .catalog__text {
        align-self: flex-start;
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        font-style: normal;
        color: #9F9F9F;
        padding-left: 9px;
        margin-top: 0;
        margin-bottom: 6px;
      
    }
      
    .catalog__heading.shirt{
        margin-top: 10px;
    }
    .cart {        
        position: relative;
        top: 0px;
    }
    .cart__text-whatsapp{
        font-size: 16px;
        line-height: 18px;
    }
    .about {
        position: relative;
        top: 0px;
    }
    .about__heading {
        font-size: 16px;
      }
      
      .about__text {
        font-size: 14px;
      }
      .delivery__header {
        font-size:18px;
      }
      
      .delivery__text {        
        font-size:14px;        
      }
      .delivery__li-text{
        font-size: 12px;
      }

}